.footer {
  background: $bg-color;
  margin-top: auto;

  &__container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-top: 2px solid $separator-color;
    width: 80%;
    padding: 30px;
  }
  &__address {
    margin-bottom: 21px;
    address {
      line-height: 100%;
      font-style: normal;
    }
    &-link {
      font-weight: bold;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 1px;
      color: $active-regular-color;
      text-transform: uppercase;
      &:hover {
        color: $accent-color;
      }
    }
  }
  li {
    position: relative;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }
  &__contacts {
    margin-bottom: 30px;
    .phone {
      line-height: 100%;
      margin-bottom: 10px;
    }
    .mail {
      font-weight: bold;
      line-height: 100%;
      color: $active-regular-color;
      &:hover {
        color: $accent-color;
      }
    }
  }
  &__copyright {
    line-height: 100%;
    color: $second-text-color;
  }
}
.facebook-icon-footer {
  fill: $active-regular-color;
  &:hover {
    fill: $accent-color;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;

      gap: 20px;
      padding: 30px 60px;
    }
    &__list {
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      gap: 26px;
    }
    &__copyright {
      order: 2;
    }
    &__address {
      order: 1;
      margin: 0;
      li + li {
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          background-color: $second-text-color;
          border-radius: 50%;
          left: -15px;
          top: 11px;
        }
      }
    }
    &__contacts {
      width: 100%;
      order: 3;
      margin: 0;
      li + li {
        &::before {
          position: absolute;
          content: "";
          width: 6px;
          height: 6px;
          background-color: $second-text-color;
          border-radius: 50%;
          left: -16px;
          top: 6px;
        }
      }
    }
    .phone {
      margin: 0;
    }
  }
}
