.team {
  padding: 0 30px;
  margin-bottom: 60px;

  @media screen and (min-width: 835px) {
    padding: 0 60px;
  }
  .container {
    padding: 0;
  }
  &__holder {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 46px;
    &.container {
      padding: 0;
    }
  }
  &__textbox {
    @media screen and (min-width: 960px) {
      display: flex;
    }
  }
  &__cat-link {
    margin-bottom: 5px;
  }
  &__title {
    margin-bottom: 30px;
    font-size: $h2-size;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: 0;
    @include gradient-text;
    @media screen and (min-width: 960px) {
      font-size: $h1-size;
    }
  }
  &__img {
    height: 500px;
    @media screen and (min-width: 960px) {
      width: 400px;
      flex-shrink: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    padding: 30px;
    background-color: $bg-color;
    border-radius: 0 0 12px 12px;

    @media screen and (min-width: 768px) {
      flex-grow: 1;
    }
  }
  &__name {
    font-weight: bold;
    line-height: 100%;
    color: $second-text-color;
    margin-bottom: 6px;
  }
  &__position {
    font-size: 14px;
    line-height: 22px;
    color: $second-text-color;
  }
}
